node_modules
.env
dist
apps/*/dist
packages/*/dist
packages/db/generated
packages/contracts/target
.stellar

# ZK generated artifacts
circom/
packages/zk/build/
*.r1cs
*.sym
*.wtns
*.zkey
proof.json
public.json
witness.wtns
