node_modules
.pnpm-store
.env
dist
apps/*/dist
packages/*/dist
packages/db/generated
packages/contracts/target
.stellar

# ZK generated artifacts
packages/zk/build/**

# Keep only runtime ZK artifacts needed by API
!packages/zk/build/
!packages/zk/build/payroll_js/
!packages/zk/build/payroll_js/payroll.wasm
!packages/zk/build/payroll_final.zkey
!packages/zk/build/verification_key.json

# Local Circom/temp artifacts
circom/

# Generated Prisma
/generated/prisma
.vercel
